@media screen and (max-width:576px) {
    
    /* Navbar */
    .nav-container{
        flex-direction: column;
        gap: 2rem;
    }

    .nav-right{
        justify-content: center;
        gap: 1rem;
    }

    .nav-left{
        flex-direction: column;
    }

    /* Banner */
    .banner{
        flex-direction: column-reverse;
        gap: 3rem;
    }

}