@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
    font-family: "Inter", sans-serif;
}


/* Default Styles */
*{
    margin: 0;
    padding: 0;
}

button{
    cursor: pointer;
}

/* Shared Styles */
.text-one{
    font-size: 3rem;
    font-weight: 700;
    color: rgb(11, 2, 35);
}

.text-one-span{
    background: linear-gradient(180.00deg, rgb(249, 72, 178),rgb(135, 88, 241));
    background-clip: text;
    color: transparent;
}

.text-two{
    color: rgb(83, 76, 100);
    font-size: 1.15rem;
    font-weight: 400;
    margin-top: 1.5rem;
}


/* Navbar */
.navbar{
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    background: rgb(255, 255, 255);
}

.nav-container{
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

.nav-right{
    font-size: 2.9rem;
    font-weight: 700;
    display: flex;
    gap: 1rem;
}

.nav-right span{
    color: rgb(255, 66, 165);
}

.nav-left{
    display: flex;
    gap: 2rem;
}

.nav-left button{
    color: rgb(60, 53, 79);
    font-size: 1.2rem;
    font-weight: 500;
    border: none;
}

.nav-btn{
    background: transparent;
}

.nav-btn-follow{
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.1);
    padding: 1rem 3rem;
}

/* Banner */
.banner{
    width: 80%;
    margin: 6rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-left h1{
    color: rgb(11, 2, 35);
    font-size: 3rem;
    font-weight: 600;
}

.banner-left h2{
    background: linear-gradient(180.00deg, rgb(249, 72, 178),rgb(135, 88, 241));
    background-clip: text;
    color: transparent;
    font-size: 6rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
}

.banner-left h3{
    color: rgb(83, 76, 100);
    font-size: 1.5rem;
    font-weight: 500;
    gap: 1rem;
    margin-bottom: 1rem;
}

.banner-left button{
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
    font-weight: 600;
    padding: 1.2rem 2.5rem;
}

.banner-btn1{
    width: 156px;
    height: 65px;
    background: linear-gradient(90.00deg, rgb(255, 66, 165) 13.134%,rgb(255, 66, 165) 87.942%);
    border-radius: 3rem;
    margin-top: 1.5rem;
}

.banner-btn2{
    border-radius: 3rem;
    background: rgb(78, 197, 247);
    width: 185px;
    height: 65px;
}

.banner-right img{
    width: 100%;
}

/* Our Purposes */
.purpose{
    background: linear-gradient(90.00deg, rgba(255, 66, 165, 0.03) 13.134%,rgba(255, 66, 165, 0.03) 87.942%);
}

.purpose-container{
    width: 80%;
    margin: 0 auto 6rem;
    display: flex;
    align-items: center;
}

.purpose-right{
    text-align: right;
}

.purpose-right button{
    width: 208px;
    height: 65px;
    padding: 1.3rem 2.5rem;   
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600; 
    border-radius: 3rem;
    background: linear-gradient(90.00deg, rgb(255, 66, 165) 13.134%,rgb(255, 66, 165) 87.942%);
    margin-top: 2rem;
}

.purpose-right h4{
    font-weight: 700;
    font-size: 2rem;
    color: rgb(83, 76, 100);
}

/* Funny Videos */
.videos{
    text-align: center;
    margin-bottom: 6rem;
}

.videos h2{
    margin-top: 0.5rem;
}

.video-container{
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    margin-top: 3rem;
}

.video{
    text-align: left;
    max-width: 342px;
    position: relative;
    cursor: pointer;
}

.watch-video{
    text-align: center;
    position: absolute;
    top: 40%;
    left: 37%;
    display: none;  
}

.watch-video i{
    font-size: 2rem;
    color: aliceblue;
}

.watch-video p{
    font-size: 1rem;
    color: white;
    font-weight: 900;
}

.video img:hover ~ .watch-video{
    display: block;
}

/* Play Instantly */
.play-instantly{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20rem;
}

.play-instantly-left{
    text-align: right;
}

.play-instantly-right{
    position: relative;
}

.horse{
    border-radius: 0.5rem;
    max-width: 634.83px;
}

.angela{
    position: absolute;
    left: -6rem;
    bottom: -6rem;
    max-width: 318.5px;
}

/* Play Games Online */
.play-online{
    width: 80%;
    margin: 12rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20rem;
}

.play-online-left{
    position: relative;
}

.play-online-img1{
    border-radius: 0.5rem;
    max-width: 634.83px;
}

.play-online-img2{
    position: absolute;
    left: -6rem;
    bottom: -6rem;
    max-width: 318.5px;
}

/* Gaming Category */
.category{
    background: linear-gradient(90.00deg, rgba(255, 66, 165, 0.03) 13.134%,rgba(255, 66, 165, 0.03) 87.942%);
}

.category-container{
    width: 75%;
    margin: 0 auto;
    padding: 120px;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.category-card{
    width: 243px;
    border-radius: 50px;
    background: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    gap: 1rem;
}

.category-card img{
    width: 60px;
}

.category-card h1{
    color: rgb(11, 2, 35);
    font-size: 20px;
    font-weight: 600;
}

.category-card:hover{
    border: 1px solid rgb(255, 66, 165);
}

@media screen and (max-width:576px) {
    
    /* Navbar */
    .nav-container{
        flex-direction: column;
        gap: 2rem;
    }

    .nav-right{
        justify-content: center;
        gap: 1rem;
    }

    .nav-left{
        flex-direction: column;
    }

    /* Banner */
    .banner{
        flex-direction: column-reverse;
        gap: 3rem;
    }

    /* Our Purposes */
    .purpose-container{
        flex-direction: column;
        padding: 2.5rem 0 2.5rem;
    }

    .purpose-left img{
        width: 100%;
    }

    .purpose-right{
        text-align: center;
    }

    /* Funny Videos */
    .video-container{
        flex-direction: column;
        align-items: center;
    }

    .watch-video{
        display: block;
    }

    /* Play Instantly */
    .play-instantly{
        flex-direction: column;
        gap: 4rem;
    }

    .play-instantly-left{
        text-align: left;
    }
    
    .play-instantly-right{
        width: 30%;
    }

    .horse{
        max-width: 200px;
    }
    
    .angela{
        max-width: 150px;
    }

    /* Play Games Online */
    .play-online{
        flex-direction: column-reverse;
        gap: 4rem;
    }

    .play-online-left{
        width: 30%;
    }
    
    .play-online-img1{
        max-width: 200px;
    }

    .play-online-img2{
        max-width: 150px;
    }
    
    /* Gaming Category */
    .category-container{
        width: 100%;
        padding: 0;
        gap: 1rem;
    }

    .category-card{
        width: 200px;
    }

}
